html {
  font-size: 62.5%; // 1rem = 10px  10px / 16px = 62.5%
  @include df(1100) {
    font-size: 50%;
  }
}
body {
  font-family: $font-primary, serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.6;
  color: $color-grey-dark-2;
}